@import "../variables.module";

.blogCard {
  display: grid;
  border: 1px solid rgba($AQUAMARINE_COLOR, .9);
  grid-template-rows: .15em;
  border-radius: max(8px, .0125em);
  overflow: hidden;

  .image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .textWrapper {
    display: grid;
    gap: max(10px, .013888em);
    padding: max(.013888em, 15px) 20px;

    background: $GRADIENT_DARK_BLUE;
    box-shadow: $CARD_BOX_SHADOW;
    backdrop-filter: blur(20px);

    .title {
      color: $WHITE_COLOR;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      place-self: center;
    }

    .descrWrapper {
      display: grid;
      gap: 10px max(.038194em, 20px);
      grid-template-columns: 3fr 1fr;

      .description {
        color: $PRIMARY_GRAY_COLOR;
        font-size: 16px;
        line-height: 22px;

        grid-row: 1 / span 3;
      }

      .tag {
        font-size: 14px;
        line-height: 22px;
        grid-column: 2;
        color: $PRIMARY_GRAY_COLOR;
        padding: .0714em 1.1428em;
        background: $TAG_BACKGROUND_COLOR;
        border-radius: .28571em;
        place-self: center;
      }

      .pubDate {
        font-size: 14px;
        line-height: 22px;
        color: $PRIMARY_GRAY_COLOR;
        place-self: center;
      }
    }

    .link {
      font-size: max(12px, .01111em);
      place-self: center;
    }
  }
}

@media (max-width: 1200px) {
  .blogCard {
    grid-template-rows: max(.2916em, 250px);
  }
}

@media (max-width: 700px) {
  .blogCard {
    .textWrapper {
      .title {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 450px) {
  .blogCard {
    grid-template-rows: .44444em;
  }
}