@import '../variables.module';

.calculatorButton {
  font-size: .010416em;
  border-radius: .6666em;
  padding: .8em 2.666em;
  text-transform: capitalize;
  width: 10em;
}

@media (max-width: 850px) {
  .calculatorButton {
    margin-top: 1.25em;
    font-size: .01882em;
  }
}

@media (max-width: 450px) {
  .calculatorButton {
    font-size: .03555em;
  }
}