.footer {
  position: relative;
  overflow: hidden;

  .donut {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: .48611em;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
  }

  .footerTitle {
    padding-top: max(0.08333em, 55px);
  }
}

