@import '../variables.module';

.header {
  padding: .01388em 0;
  background-color: $HEADER_COLOR;

  .headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header .headerWrapper {
    flex-direction: row-reverse;
  }
}