@import '../variables.module';

.linkArrow {
  font-size: max(24px, .01666em);
  color: $AQUAMARINE_COLOR;

  display: flex;
  align-items: center;

  &:hover {
    .arrow {
      margin-left: 10px;
    }
  }

  .arrow {
    height: max(10px, .006944rem);
    width: max(16px, .0111111rem);

    margin-left: 5px;
    transition: all .3s ease-in-out;
  }

  .longArrow {
    height: max(13px, .009027rem);
    width: max(30px, .02083rem);
  }
}