@import '../variables.module';

.readMore {
  border: none;
  background-color: transparent;

  color: $AQUAMARINE_COLOR;
  font-family: $FONT_FAMILY_HELVETICA;
  font-size: max(24px, .016666em);
  font-weight: 700;

  display: flex;
  align-items: center;

  grid-column: 1/-1;
  margin: 0 auto;

  .arrow {
    height: .8em;
    width: .5333em;
    margin-left: .6666em;
    transition: all .3s ease-in-out;
  }

  &:hover {
    .arrow {
      transform: rotate(270deg);
    }
  }
}

.readMoreOpen {
  &:hover {
    .arrow {
      transform: rotate(90deg);
    }
  }
}