@import '../variables.module.scss';

.section {
  padding-top: max(.08333em, 55px);
}

.BgAboveTheFold {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: .555555em;
  z-index: -1;
}

.projectsEllipseAqua {
  position: absolute;
  right: -.065em;
  bottom: 0;
  transform: translate(50%, 50%);
  width: 100%;
  height: .56875em;
  z-index: -1;
}

.projectsEllipseLight {
  position: absolute;
  left: -.065em;
  transform: translate(-50%, 70%);
  bottom: 0;
  width: 100%;
  height: .5555em;
  z-index: -1;
}

.donutTop {
  position: absolute;
  left: -.065em;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  height: .41666em;
  z-index: -1;
}

.topSection {
  position: relative;

  .subtitle {
    font-size: max(24px, .025em);
    font-weight: 400;
    text-align: center;
    color: $AQUAMARINE_COLOR;
  }

  .title {
    font-family: $FONT_FAMILY_QUICKSAND;
    font-size: max(48px, .09722em);
    line-height: 1;
    font-weight: 300;
    text-align: center;
    color: $WHITE_COLOR;
    -webkit-text-stroke: 2px $AQUAMARINE_COLOR;
    filter: blur(1px);
    text-shadow: 0 0 60px $AQUAMARINE_COLOR, 0 0 30px $AQUAMARINE_COLOR, 0 0 10px $AQUAMARINE_COLOR;
    margin: .22857em 0;
  }

  .text {
    max-width: 50%;
    margin: 0 auto;
  }
}

.projectSection {
  position: relative;

  .projectWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(150px, .125em));
    place-items: center;
    place-content: center;
    gap: max(60px, .0666em) max(20px, .034722em);
  }

  .readMoreProjects {
    text-transform: capitalize;
    transition: all .3s ease-in-out;
  }
}

.aboutSection {
  .aboutSecondTitle {
    font-size: max(36px, .02777em);
    margin-top: 2.1em;
  }

  .aboutSecondSubtitle {
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  .projectSection {
    .projectWrapper {
      grid-template-rows: repeat(2, auto);
      grid-auto-rows: 0;
      transition: all .4s ease-in-out;

      padding-bottom: 25px;

      div {
        transition: all .2s ease-in-out;
      }

      div:nth-child(n+9) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      grid-auto-rows: 150px;

      div:nth-child(n+9) {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 910px) {
  .projectSection {
    .projectWrapper {
      div:nth-child(n+7) {
        visibility: hidden;
        opacity: 0;
      }
    }

    .readMoreProjects {
      margin-top: -60px;
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      div:nth-child(n+7) {
        visibility: visible;
        opacity: 1;
      }
    }

    .readMoreProjects {
      margin-top: 0;
    }
  }
}

@media (max-width: 650px) {
  .projectSection {
    .projectWrapper {
      div:nth-child(n+5) {
        visibility: hidden;
        opacity: 0;
      }
    }

    .readMoreProjects {
      margin-top: -240px;
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      div:nth-child(n+5) {
        visibility: visible;
        opacity: 1;
      }
    }

    .readMoreProjects {
      margin-top: 0;
    }
  }
}

@media (max-width: 380px) {
  .projectSection {
    .projectWrapper {
      grid-template-columns: repeat(auto-fill, 120px);
      row-gap: .10526em;
    }

    .readMoreProjects {
      margin-top: -180px;
    }
  }
  .projectSectionOpen {
    .readMoreProjects {
      margin-top: 0;
    }
  }
}




