@import '../variables.module.scss';

.section {
  padding-top: max(.08333em, 55px);
}

.topSection {
  position: relative;

  .subtitle {
    font-size: max(24px, .025em);
    font-weight: 400;
    text-align: center;
    color: $AQUAMARINE_COLOR;
  }

  .title {
    font-family: $FONT_FAMILY_QUICKSAND;
    font-size: max(48px, .09722em);
    line-height: 1;
    font-weight: 300;
    text-align: center;
    color: $WHITE_COLOR;
    -webkit-text-stroke: 2px $AQUAMARINE_COLOR;
    filter: blur(1px);
    text-shadow: 0 0 60px $AQUAMARINE_COLOR, 0 0 30px $AQUAMARINE_COLOR, 0 0 10px $AQUAMARINE_COLOR;
    margin: .22857em 0;
  }

  .text {
    max-width: 50%;
    margin: 0 auto;
  }

  .donutTop {
    position: absolute;
    left: -.065em;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
    height: .41666em;
    z-index: -1;
  }
}

.projectSection {
  position: relative;

  .projectWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(150px, .125em));
    place-items: center;
    place-content: center;
    gap: max(60px, .0666em) max(20px, .034722em);
  }

  .readMoreProjects {
    text-transform: capitalize;
    transition: all .3s ease-in-out;
  }

  .projectsEllipseAqua,
  .projectsEllipseLight,
  .BgAboveTheFold {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .projectsEllipseAqua {
    right: -.065em;
    bottom: 0;
    transform: translate(50%, 50%);
    height: .56875em;
  }

  .projectsEllipseLight {
    left: -.065em;
    transform: translate(-50%, 70%);
    bottom: 0;
    height: .5555em;
  }

  .BgAboveTheFold {
    bottom: 50%;
    right: 0;
    left: 0;
    height: .555555em;
  }
}

.aboutSection {
  .aboutSecondTitle {
    font-size: max(36px, .02777em);
    margin-top: 2.1em;
  }

  .aboutSecondSubtitle {
    max-width: 80%;
  }

  .writeToUs {
    justify-content: center;
    margin-top: 1.25em;
  }
}

.blogSection {
  position: relative;
  display: grid;

  .postRawWrapper {
    display: grid;
    gap: 8px;
  }

  .blogPageArrow {
    text-transform: capitalize;
    justify-self: center;
    margin-top: 2.083em;
  }

  .sphere, .intersectRight,
  .intersectLeft {
    position: absolute;
    z-index: -1;
  }

  .sphere {
    width: 100%;
    height: .4166666em;
    bottom: 100%;
    right: 0;
    transform: translate(55%, 60%);
  }

  .intersectRight {
    height: .347222em;
    width: .430555em;
    right: -27%;
    top: 0;
  }

  .intersectLeft {
    width: .625em;
    height: .472222em;
    left: -33%;
    top: 50%;
    opacity: .6;
  }
}

.faqSection {
  position: relative;

  .accordionWrapper {
    display: grid;
    gap: 8px;
  }

  .BgAboveTheFold, .halfDonut {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .BgAboveTheFold {
    height: .34722em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .halfDonut {
    height: .36111em;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
}

@media (max-width: 1024px) {
  .projectSection {
    .projectWrapper {
      grid-template-rows: repeat(2, auto);
      grid-auto-rows: 0;
      transition: all .4s ease-in-out;

      padding-bottom: 25px;

      div {
        transition: all .2s ease-in-out;
      }

      div:nth-child(n+9) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      grid-auto-rows: 150px;

      div:nth-child(n+9) {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 910px) {
  .projectSection {
    .projectWrapper {
      div:nth-child(n+7) {
        visibility: hidden;
        opacity: 0;
      }
    }

    .readMoreProjects {
      margin-top: -60px;
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      div:nth-child(n+7) {
        visibility: visible;
        opacity: 1;
      }
    }

    .readMoreProjects {
      margin-top: 0;
    }
  }
  .aboutSection .aboutSecondSubtitle {
    max-width: unset;
  }
}

@media (max-width: 650px) {
  .projectSection {
    .projectWrapper {
      div:nth-child(n+5) {
        visibility: hidden;
        opacity: 0;
      }
    }

    .readMoreProjects {
      margin-top: -150px;
    }
  }
  .projectSectionOpen {
    .projectWrapper {
      div:nth-child(n+5) {
        visibility: visible;
        opacity: 1;
      }
    }

    .readMoreProjects {
      margin-top: 0;
    }
  }
}

@media (max-width: 380px) {
  .projectSection {
    .projectWrapper {
      grid-template-columns: repeat(auto-fill, 120px);
      row-gap: .10526em;
    }
  }
  .projectSectionOpen {
    .readMoreProjects {
      margin-top: 0;
    }
  }
}




