@import '../variables.module.scss';

.section {
  padding-top: .08333em;
}

.BgAboveTheFold {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: .555555em;
  z-index: -1;
}

.projectsEllipseAqua {
  position: absolute;
  right: -.065em;
  bottom: 0;
  transform: translate(50%, 50%);
  width: 100%;
  height: .56875em;
  z-index: -1;
}

.projectsEllipseLight {
  position: absolute;
  left: -.065em;
  transform: translate(-50%, 70%);
  bottom: 0;
  width: 100%;
  height: .5555em;
  z-index: -1;
}

.donutTop {
  position: absolute;
  left: -.065em;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  height: .41666em;
  z-index: -1;
}

.topSection {
  position: relative;

  .subtitle {
    font-size: max(24px, .025em);
    font-weight: 400;
    text-align: center;
    color: $AQUAMARINE_COLOR;
  }

  .title {
    font-family: $FONT_FAMILY_QUICKSAND;
    font-size: max(48px, .09722em);
    line-height: 1;
    font-weight: 300;
    text-align: center;
    color: $WHITE_COLOR;
    -webkit-text-stroke: 2px $AQUAMARINE_COLOR;
    filter: blur(1px);
    text-shadow: 0 0 60px $AQUAMARINE_COLOR, 0 0 30px $AQUAMARINE_COLOR, 0 0 10px $AQUAMARINE_COLOR;
    margin: .22857em 0;
  }

  .text {
    max-width: 50%;
    margin: 0 auto;
  }
}

.projectSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, .125em);
  place-items: center;
  place-content: center;
  gap: .0666em max(50px, .034722em);

  position: relative;
}

.aboutSection {

}




