$BLACK_COLOR: #000;
$AQUAMARINE_COLOR: #3EC4B3;
$LIGHT_BLUE_COLOR: #7ED1FF;
$HEADER_COLOR: rgba(113, 124, 123, 0.25);
$LIGHT_GRAY_COLOR: #ECF1F0;
$PRIMARY_GRAY_COLOR: #B6B6B6;
$SECOND_GRAY_COLOR: #EAEAEA;
$GRAY_COLOR: #C6C6C6;
$WHITE_COLOR: #FFF;
$DARK_BLUE_COLOR: #1F5090;

$TAG_BACKGROUND_COLOR: rgba(126, 209, 255, 0.16);
$INPUTS_BACKGROUND_COLOR_MOBILE: rgba(255, 255, 255, 0.1);
$INPUTS_BACKGROUND_COLOR_DESKTOP: rgba(255, 255, 255, 0.02);
$INPUTS_BORDER: 1px solid rgba(255, 255, 255, 0.2);

$GRADIENT_AQUA_BLUE: linear-gradient(116.99deg, #112080 -9.45%, #2B7E9D 42.34%, #3EC3B3 109.45%);

$CARD_BACKGROUND_COLOR: linear-gradient(106.97deg, rgba(255, 255, 255, 0.092) 5.84%, rgba(255, 255, 255, 0.045) 70.7%);
$CARD_BOX_SHADOW: 0 1.1966px 29.915px rgba(69, 42, 124, 0.1);

$FONT_FAMILY_HELVETICA: 'Helvetica', sans-serif;
$FONT_FAMILY_PLAY: 'Play', sans-serif;
$FONT_FAMILY_MONTSERRAT: 'Montserrat', sans-serif;
$FONT_FAMILY_QUICKSAND: 'Quicksand', sans-serif;

:export {
  aquamarineColor: $AQUAMARINE_COLOR;
  whiteColor: $WHITE_COLOR;
  grayColor: $SECOND_GRAY_COLOR;
}
